<h1>Editing customer</h1>
<p style="color: green"><%= notice %></p>

<%= render "form", customer: @customer %>

<br>

<div>
  <%= link_to "Show this customer", @customer %> |
  <%= link_to "Back to customers", customers_path %>
</div>
